---
css: |
    .lozenge {
        color: var(--background-body);
        background: var(--text-bright);
        padding: 0 0.5em;
        border-radius: 1em;
    }
---
<span class="lozenge">{{ label || "UNKNOWN" }}</span>